body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App-header {
  background-color: #282c34;
  padding: 10px 20px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 20px;
  padding-left: 20px;
}

.header-left {
  display: flex;
  align-items: center;
}

.header-left h1 {
  color: white;
  margin: 0;
  padding-left: 10px;
}

.header-center {
  display: flex;
  align-items: center;
  justify-content: center; /* Center buttons horizontally */
  gap: 60px; /* Increased gap between buttons */
  flex-grow: 1; /* Allow header-center to take remaining space */
  margin-right: 120px;
}

.header-button {
  background-color: #61dafb;
  border: none;
  color: #282c34;
  padding: 10px 25px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.header-button:hover {
  background-color: #45aaf2;
}

.App-main {
  margin-top: 80px;
}

.swap-box {
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 8px;
  width: 300px;
}

.swap-box h2 {
  margin-top: 0;
}

.swap-box input {
  width: calc(100% - 20px);
  margin-bottom: 10px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.swap-button {
  background-color: #61dafb;
  border: none;
  color: #282c34;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.swap-button:hover {
  background-color: #45aaf2;
}
